In [1]:
# Dependencies
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pathlib import Path
import json
from config import api_key

In [2]:
url="http://www.omdbapi.com/?apikey=" +api_key + "&t="
movies =['Avatar', 'Titanic','The Avengers',
       'Harry Potter and the Deathly Hallows - Part 2', 'Frozen',
       'Iron Man 3', 'Transformers: Dark of the Moon',
       'The Lord of the Rings: The Return of the King', 'Skyfall',
       'Transformers: Age of Extinction']

Actors=[]
Writers=[]
Awards=[]
IMDb_rating=[]

for movie in movies:
    movie_data=requests.get(url+movie).json()
    Actors.append(movie_data["Actors"])
    Writers.append(movie_data["Writer"])
    Awards.append(movie_data["Awards"])

In [3]:
shows_df=pd.DataFrame({
    'Movie':movies,
    'Actor':Actors,
    'Writer':Writers,
    'Awards':Awards
})
shows_df

,Movie,Actor,Writer,Awards
0,Avatar,"Sam Worthington, Zoe Saldana, Sigourney Weaver",James Cameron,Won 3 Oscars. 89 wins & 131 nominations total
1,Titanic,"Leonardo DiCaprio, Kate Winslet, Billy Zane",James Cameron,Won 11 Oscars. 126 wins & 83 nominations total
2,The Avengers,"Robert Downey Jr., Chris Evans, Scarlett Johan...","Joss Whedon, Zak Penn",Nominated for 1 Oscar. 38 wins & 80 nomination...
3,Harry Potter and the Deathly Hallows - Part 2,"Daniel Radcliffe, Emma Watson, Rupert Grint","Steve Kloves, J.K. Rowling",Nominated for 3 Oscars. 47 wins & 94 nominatio...
4,Frozen,"Kristen Bell, Idina Menzel, Jonathan Groff","Jennifer Lee, Hans Christian Andersen, Chris Buck",Won 2 Oscars. 82 wins & 60 nominations total
5,Iron Man 3,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow","Drew Pearce, Shane Black, Stan Lee",Nominated for 1 Oscar. 20 wins & 63 nomination...
6,Transformers: Dark of the Moon,"Shia LaBeouf, Rosie Huntington-Whiteley, Tyres...",Ehren Kruger,Nominated for 3 Oscars. 11 wins & 42 nominatio...
7,The Lord of the Rings: The Return of the King,"Elijah Wood, Viggo Mortensen, Ian McKellen","J.R.R. Tolkien, Fran Walsh, Philippa Boyens",Won 11 Oscars. 213 wins & 124 nominations total
8,Skyfall,"Daniel Craig, Javier Bardem, Naomie Harris","Neal Purvis, Robert Wade, John Logan",Won 2 Oscars. 68 wins & 123 nominations total
9,Transformers: Age of Extinction,"Mark Wahlberg, Nicola Peltz Beckham, Jack Reynor",Ehren Kruger,5 wins & 23 nominations